@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

.bg-nav{
  background-color:white;
  color: black;
  font-weight: bold;
  height: 80px;
}
nav .nav-item{
  color: #242222;
}

nav .nav-item:hover{
  font-weight:bold ;
  color: #ff4328;

}
.blackl{
  color: black;
  font-weight: 700;
}
.nav-shadow{
 box-shadow: 0px 0px 5px 0px black;
}
.fontSize{
  font-size: 16px;
  font-family: roboto;
  font-weight: 800;
}