.bg-nav{
  background-color:white;
  color: black;
  font-weight: bold;
  height: 80px;
}
nav .nav-item{
  color: hsl(0, 3%, 14%);
}

nav .nav-item:hover{
  font-weight:bold ;
  color: #ff4328;

}
.blackl{
  color: black;
  
}
.nav-shadow{
 box-shadow: 0px 0px 5px 0px black;
}
.fontSize{
  
}