.location-map {
  width: clamp(40vw, 70vw, 100vw);
  height: clamp(40vh, 70vw, 50vh);
}

.icon {
  width: 60px;
  height: 60px;
  font-size: 30px;
  border-radius: 50%;
  border: #2f3369 4px dashed;
  display: flex;
  justify-items: center;
  align-items: center;
  position: relative;
}

.main-icon {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}

.contact_box{
  width: 380px;
  height: 220px;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  box-shadow: #8187e1 0 0 15px;
  padding: 1rem;
  border-radius: 20px;
  align-items: center;
  text-align: center;
  color: #2f3369;
}

.details {
  font-size: 16px;
  text-align: left;
  text-decoration: none;
  font-weight: 600;
  color: inherit;
}

.info_Heading {
  font-weight: 900;
}
.contact_box:hover {
  transform: scale(1.1);
  background-color: #2f3369;
  color: #fff;
}
