.location-map {
  width: clamp(40vw, 70vw, 100vw);
  height: clamp(40vh, 70vw, 50vh);
}

.icon {
  font-size: 30px;
  position: relative;
  border-radius: 50%;
  padding: 20px;
  border: #2f3369 2px dashed;
}

.contact_box {
  width: 350px;
  height: 200px;
  display: flex;
  color: #2f3369;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  box-shadow: #2f3369 0 0 15px;
}

.details {
  font-size: 16px;
  padding-top: 50px;
  text-align: left;
  text-decoration: none;
  font-weight: 600;
}

.info_Heading {
  color: inherit;
  font-weight: 900;
}
.contact_box:hover {
  transform: scale(1.1);
  background-color: #2f3369;
  color: #fff;
}
