.cr_image{
    width: 100%;
    margin-top: 6rem;
    mix-blend-mode: multiply;
    transition: all 1.5s ease;  
}
.cr_image:hover{
    transform: scale(1.2);
}
.cr_sliderbg{
    background-color:#F5F6FA;
}

.cr_textbox{
    padding: 2rem;
    background-color: white;
    margin-top: 2rem;
   
}

.cr_clientName_Section{
 background-color: #F5F6FA;
 padding: 1rem;
}


.cr_clientName_Section img {
    border-radius: 50%;
    width: 70px;
    height: 70px;
    margin-right: 15px;
  }