.cr_image{
    width: 100%;
    margin-top: 6rem;
    mix-blend-mode: multiply;
    transition: all 1.5s ease;  
}
.cr_image:hover{
    transform: scale(1.2);
}
.cr_sliderbg{
    background-color:#F5F6FA;
}

.cr_textbox{
    padding: 3rem;
    background-color: white;
    margin-top: 2rem;
    position: relative;
}

.cr_clientName_Section{
 background-color: #F5F6FA;
 padding: 1rem;
 position: relative;
}


.cr_clientName_Section img {
    border-radius: 50%;
    width: 70px;
    height: 70px;
    margin-right: 15px;
  }

  .overlay_top{
    position: absolute;
    top: 0;
    left: 0;
    width: 20%;
    height: 40%;
    border-left: 10px double orangered;
    border-top: 10px double orangered;
  }
  .overLay_bottom{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 20%;
    height: 40%;
    border-right: 10px double orangered;
    border-bottom: 10px double orangered;
  }
  