.cr_image{
    width: 100%;
    mix-blend-mode: multiply;  
}

.cr_textbox{
    padding: 0.5rem;
    position: relative;
    background-color: white;
}

.cr_clientName_Section{
 position: relative;
 
}
.quotes{
  font-size: 1.5rem;
  color: orangered;
  margin-bottom: 2rem;
  margin-top: 1rem;
  font-weight: 1200;
}


.cr_clientName_Section img {
    border-radius: 50%;
    width: 70px;
    height: 70px;
    margin-right: 15px;
  }
