
.wrapper{
    padding: 15px 30px;
}

.contact-form-label{
    color:#2F3369;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 4px;
}

.contact-form-input{
    width: 100%;
    padding: 7px 15px;
    border-radius: 10px;
    border: #c4c8cd 1px solid;
    font-size: 14px;
    position: relative;
    height: 40px;
    margin-bottom: 15px;
}


.contact-input{
    width: 100%;
    padding: 0px 0px;
    border-radius: 10px;
    border: #c4c8cd 1px solid;
    font-size: 14px;
    position: relative;
    height: 40px;
    margin-bottom: 10px;
}

.contact-form-dropdown{
    width: 100%;
    padding:8px 15px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: #c4c8cd 1px solid;
    font-size: 14px;
    color:#737679 ;
    text-align: start;
    resize: none;
}


.send-me-btn{
    background-color:#2F3369;
    padding: 5px 30px;
    border-radius: 10px;
    color: white;
    margin-top: 85px;
    font-size: 15px;
}

.send-me-btn:hover{
    background-color:#fff; 
    color: #2F3369;
    font-size: 15px;
    font-weight: 600;
    border: 3px solid #2F3369;
}

.input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin-bottom: 40px;
}

.contact-form-input input {
    width:100vh;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid #c4c8cd ;
    border-radius: 10px;
    font-size: 16px;
    padding: 15px 30px 15px 15px;
}
.input-box i {
position: absolute;
right: 15px;
transform: translateY(-50%);
top: 100%;
font-size: 14px;
color: grey;
padding-bottom: 5px;
}
.OS_image{
    width: 100%;
    height: 70%;
    transition: all 1s ease-in-out;
    mix-blend-mode: multiply;
}
.OS_image:hover{
    transform: scale(0.9);
}

@media (max-width:500px) {
    .OS_image{
        width: 80%;
        height: 60%;
        margin-top: 2rem;
        margin-left: 2rem;
    }
    
}
