.uparrow {
  position: fixed;
  height: 32px;
  width: 32px;
  margin-bottom: 15px;
  /*border-radius: 50%;*/
 margin-bottom: 10px;
 z-index: 99999; 
 background-color:white;
 box-shadow: 0 0 5px 0 black;
padding: 20px;
display: flex;
justify-content: center;
}

.uparrow {
top: calc(100% - 44px); 
  left: calc(100% - 40px); 
}

#scroll{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
 font-weight: 600;
  color: blue;
}



/* For tablets */
@media (max-width: 768px) {
  .uparrow {
    position: fixed;
    top: calc(100% - 60px); 
    left: calc(100% - 50px); 
    height: 40px;
    width: 40px;
  }
}

/* For mobile phones */
@media (max-width: 480px) {
  .uparrow {
    position: fixed;
    top: calc(100% - 90px);
    left: calc(100% - 60px); 
    height: 38px;
    width: 38px;
  }
}