<<<<<<< HEAD
=======
*{
  font-family: "Roboto Slab", serif;
}
h1{
  font-size: 40px;
  font-weight: 600;
}
p{
  font-size: 16px;
}
h3{
  font-size: 25px;
  font-weight: 400;
}
>>>>>>> 3f4c9953dd7cc1b8aa47a8b0b37c9e4f439d727b
