*{
  font-family: "Roboto Slab", serif;
  
}
h1{
  font-size: 40px;
  font-weight: 800;
  font-weight: bold;
}
p{
  font-size: 18px;
}
h3{
  font-size: 18px;
  font-weight: 400;
}
h5{
  
  font-size: 18px;
  font-weight: 400;
}