/* .single-card{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
} */
.wrappers,
.single-card{
  margin: auto;
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
}

.wrappers{
  perspective: 900px;
}

.single-card{
  text-align: center;
  transition: all 1.5s cubic-bezier(0.7,-.5,0.3,1.8);
  transform-style: preserve-3d;
}

.wrappers:hover .single-card{
  transform: rotateY(180deg);
}

.front,.Back{
  width: 300px;
  position: relative;
  top: 0;
  left: 0;
  backface-visibility: hidden;
}

.front{
  cursor: pointer;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 50px;
}

.img{
  height: 250px;
width: 260px;
}

.Back{
  transform: rotateY(180deg);
  position: absolute;
  height: 300px;
  box-shadow: 0 0 5px 0px black;
  border-bottom:2px solid orange ;
  background-image: linear-gradient(white 80%,orange);
}

.card-content{
  color: black;
  padding-top:5%;
  padding: 20px;
  text-align: center;
}

.front-titel{
  font-size: 20px ;
  font-weight: 700;
}
.titel{
  color:black;
  font-size: 20px ;
font-weight: 700;
}
